<% include header.ejs %>
<!-- Page Content-->
<main class="page-content">
    <section class="bg-gray-darker">
        <div class="swiper-variant-1">
            <div data-slide-effect="fade" data-min-height="600px" class="swiper-container swiper-slider">
                <div class="swiper-wrapper">
                    <div data-slide-bg="/images/home-slide-1-1920x800.jpg" class="swiper-slide">
                        <div class="swiper-slide-caption text-center">
                            <div class="shell">
                                <div class="range range-sm-middle">
                                    <div class="cell-sm-6 cell-md-5 cell-lg-4 text-uppercase">
                                        <div class="group-sm">
                                            <div data-caption-animate="fadeInLeftSm" data-caption-delay="200" class="label-swiper h4 text-italic text-white"><span>new</span><span>menu</span></div>
                                            <h1 data-caption-animate="fadeInRightSm" data-caption-delay="100" class="text-italic text-white">Pizza</h1>
                                        </div>
                                        <h3 data-caption-animate="fadeInUpSmall" data-caption-delay="600" class="text-primary-lighter offset-top-5">with seafood</h3><a href="#products" data-caption-animate="fadeInUpSmall" data-caption-delay="800" class="btn btn-burnt-sienna btn-md btn-shape-circle offset-top-20">order online</a>
                                    </div>
                                    <div class="cell-sm-6 cell-md-7 cell-lg-8 text-lg-right veil reveal-sm-inline-block">
                                        <div style="position: relative; z-index: 2;">
                                            <div data-caption-animate="fadeInLeftSm" data-caption-delay="1500"><img src="/images/slide-caption-image-6-100x118.png" alt="" width="100" height="118" class="img-caption-5 img-responsive veil reveal-lg-inline-block"/>
                                            </div>
                                            <div data-caption-animate="fadeInRotate" data-caption-delay="100"><img src="/images/slide-caption-image-1-599x596.png" alt="" width="599" height="596" class="img-responsive reveal-inline-block"/>
                                            </div>
                                        </div>
                                        <div data-caption-animate="fadeInRightSm" data-caption-delay="600" class="img-caption-1"><img src="/images/slide-caption-image-2-346x336.png" alt="" width="346" height="336" class="img-responsive veil reveal-lg-inline-block"/>
                                        </div>
                                        <div data-caption-animate="fadeInRightSm" data-caption-delay="900" class="img-caption-2"><img src="/images/slide-caption-image-3-228x310.png" alt="" width="228" height="310" class=" img-responsive veil reveal-lg-inline-block"/>
                                        </div>
                                        <div data-caption-animate="fadeInLeftSm" data-caption-delay="800" class="img-caption-3"><img src="/images/slide-caption-image-4-179x213.png" alt="" width="179" height="213" class=" img-responsive veil reveal-lg-inline-block"/>
                                        </div>
                                        <div data-caption-animate="fadeInLeftSm" data-caption-delay="1000" class="img-caption-4"><img src="/images/slide-caption-image-5-522x343.png" alt="" width="522" height="343" class="img-responsive veil reveal-lg-inline-block"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-slide-bg="/images/home-slide-2-1920x800.jpg" class="swiper-slide">
                        <div class="swiper-slide-caption slide-caption-2 text-center">
                            <div class="shell">
                                <div class="range range-sm-middle">
                                    <div class="cell-sm-6 cell-md-5 cell-lg-4">
                                        <h5 data-caption-animate="fadeInUpSmall" data-caption-delay="100" class="text-italic font-secondary text-white">From Our Chef</h5>
                                        <h2 data-caption-animate="fadeInUpSmall" data-caption-delay="400" class="text-uppercase text-white offset-top-0">Meet the</h2>
                                        <h1 data-caption-animate="fadeInUpSmall" data-caption-delay="700" class="text-white offset-top-0">legend</h1>
                                        <h4 data-caption-animate="fadeInUpSmall" data-caption-delay="1000" class="text-primary-lighter offset-top-10">burger california</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-slide-bg="/images/home-slide-3-1920x800.jpg" class="swiper-slide">
                        <div class="swiper-slide-caption text-uppercase text-center">
                            <div class="shell">
                                <div class="range range-sm-middle">
                                    <div class="cell-sm-6 cell-md-5 cell-lg-4">
                                        <div data-caption-animate="fadeInUpSmall" data-caption-delay="100" class="label-swiper label-swiper-var-2">
                                            <h4 class="text-italic">hot stuff</h4>
                                        </div>
                                        <h1 data-caption-animate="fadeInUpSmall" data-caption-delay="400" class="small text-white">burger</h1>
                                        <h3 data-caption-animate="fadeInUpSmall" data-caption-delay="700" class="text-primary-lighter offset-top-0">the Mexican</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Swiper Navigation-->
                <div class="swiper-pagination-wrap">
                    <div class="shell">
                        <div class="range">
                            <div class="cell-sm-6 cell-md-5 cell-lg-4">
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="products" class="section-50 section-sm-100">
        <div class="shell isotope-wrap">
            <div class="range range-sm-center">
                <div class="cell-xs-12">
                    <div class="cell-box">
                        <ul class="isotope-filters-responsive">
                            <li>
                                <p>Choose your category:</p>
                            </li>
                            <li class="block-top-level">
                                <!-- Isotope Filters-->
                                <button data-custom-toggle="#isotope-1" data-custom-toggle-disable-on-blur="true" class="isotope-filters-toggle btn btn-primary-lighter btn-shape-circle">Filter<span class="caret"></span></button>
                                <div id="isotope-1" class="isotope-filters isotope-filters-buttons">
                                    <ul class="inline-list">
                                        <% categories.forEach((category, i) => { %>
                                        <li><a data-isotope-filter="Category <%= i %>" data-isotope-group="gallery" href="#" class="btn-shape-circle btn <%= !i ? 'active' : '' %>"><%= category.name %></a></li>
                                        <% }); %>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cell-xs-12 offset-top-40">
                    <!-- Isotope Content-->
                    <div data-isotope-layout="fitRows" data-isotope-group="gallery" data-photo-swipe-gallery="gallery" class="row isotope isotope-menu">
                        <% products.forEach((product, i) => { %>
                        <!-- <%= product.categoryName %> -->
                            <% product.products.forEach(product => { %>
                            <div data-filter="Category <%= i %>" class="col-xs-12 col-sm-6 col-md-4 isotope-item">
                                <div class="thumbnail-menu-modern">
                                    <figure><img src="<%= product.image %>" alt="" width="310" height="260" class="img-responsive"/>
                                    </figure>
                                    <div class="caption">
                                        <h5><a href="/shop-single/<%= product._id %>" class="link link-default"><%= product.name %></a></h5>
                                        <p class="text-italic"><%= product.description %></p>
                                        <p class="price">
                                            <%= product.total %>+
                                        </p>
                                        <a href="/item/<%= product.id %>" class="btn btn-shape-circle btn-burnt-sienna offset-top-15">Order Online</a>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--banner-->
    <section class="bg-image-5">
        <!-- RD Parallax-->
        <div data-on="false" data-md-on="true" class="rd-parallax rd-parallax-light">
            <div data-speed="0.35" data-type="media" data-url="/images/parallax-03.png" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" class="rd-parallax-layer">
                <div class="shell section-80 section-sm-top-140 section-sm-bottom-150 text-center">
                    <div class="range range-xs-center">
                        <div class="cell-sm-10 cell-lg-6">
                            <h4 class="text-italic divider-custom-small-primary">Free Delivery</h4>
                            <h2 class="text-uppercase text-italic offset-top-10 offset-sm-top-0">Sandwich Day</h2>
                            <div class="label-price offset-top-10">
                                <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                    <div class="unit-left">
                                        <h1 class="text-primary">3<sup class="h3 text-primary">99</sup></h1>
                                    </div>
                                    <div class="unit-body">
                                        <ul class="big text-left">
                                            <li>Sandwich</li>
                                            <li>Salad</li>
                                            <li>Drink</li>
                                        </ul>
                                    </div>
                                </div>
                            </div><a href="/menu" class="btn btn-burnt-sienna btn-md btn-shape-circle offset-top-15">order online</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--services-->
    <section class="section-50 section-sm-130">
        <div class="shell">
            <div class="range range-xs-center">
                <div class="cell-sm-6 cell-md-3 view-animate fadeInUpBigger delay-04">
                    <!-- Box icon-->
                    <article class="box-icon box-icon-variant-1">
                        <div class="icon-wrap"><span class="icon icon-lg text-base thin-icon-time icon-xl"></span></div>
                        <div class="box-icon-header">
                            <h5>Fast Delivery</h5>
                        </div>
                        <hr class="divider-xs bg-primary"/>
                        <p>Everything you order at QuickFood will be quickly delivered to your door.</p>
                    </article>
                </div>
                <div class="cell-sm-6 cell-md-3 offset-top-50 offset-sm-top-0 view-animate fadeInUpBigger delay-08">
                    <!-- Box icon-->
                    <article class="box-icon box-icon-variant-1">
                        <div class="icon-wrap"><span class="icon icon-lg text-base restaurant-icon-17 icon-xxl"></span></div>
                        <div class="box-icon-header">
                            <h5>fresh food</h5>
                        </div>
                        <hr class="divider-xs bg-primary"/>
                        <p>We use only the best ingredients to cook the tasty fresh food for you.</p>
                    </article>
                </div>
                <div class="cell-sm-6 cell-md-3 offset-top-50 offset-md-top-0 view-animate fadeInUpBigger delay-04">
                    <!-- Box icon-->
                    <article class="box-icon box-icon-variant-1">
                        <div class="icon-wrap"><span class="icon icon-lg text-base restaurant-icon-23 icon-xxl"></span></div>
                        <div class="box-icon-header">
                            <h5>experienced chefs</h5>
                        </div>
                        <hr class="divider-xs bg-primary"/>
                        <p>Our staff consists of chefs and cooks with years of experience.</p>
                    </article>
                </div>
                <div class="cell-sm-6 cell-md-3 offset-top-50 offset-md-top-0 view-animate fadeInUpBigger delay-06">
                    <!-- Box icon-->
                    <article class="box-icon box-icon-variant-1">
                        <div class="icon-wrap"><span class="icon icon-lg text-base restaurant-icon-22 icon-xxl"></span></div>
                        <div class="box-icon-header">
                            <h5>a variety of dishes</h5>
                        </div>
                        <hr class="divider-xs bg-primary"/>
                        <p>In our menu you’ll find a wide variety of dishes, desserts, and drinks.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!--section gallery-->
    <section>
        <div data-photo-swipe-gallery="gallery" class="range range-condensed">
            <div class="cell-xs-6 cell-md-3"><a data-photo-swipe-item="" data-size="1200x800" href="/images/index-gallery-1-1200x800_original.jpg" data-author="" class="thumbnail-gallery"><img src="/images/index-gallery-1-480x394.jpg" alt="" width="480" height="394"/></a></div>
            <div class="cell-xs-6 cell-md-3"><a data-photo-swipe-item="" data-size="1200x800" href="/images/index-gallery-2-1200x800_original.jpg" class="thumbnail-gallery"><img src="/images/index-gallery-2-480x394.jpg" alt="" width="480" height="394"/></a></div>
            <div class="cell-xs-6 cell-md-3"><a data-photo-swipe-item="" data-size="1200x800" href="/images/index-gallery-3-1200x800_original.jpg" class="thumbnail-gallery"><img src="/images/index-gallery-3-480x394.jpg" alt="" width="480" height="394"/></a></div>
            <div class="cell-xs-6 cell-md-3"><a data-photo-swipe-item="" data-size="1200x800" href="/images/index-gallery-4-1200x800_original.jpg" class="thumbnail-gallery"><img src="/images/index-gallery-4-480x394.jpg" alt="" width="480" height="394"/></a></div>
        </div>
    </section>
    <section>
        <!-- RD Google Map-->
        <div data-zoom="15" data-y="42.2615050" data-x="-71.4664077" data-styles="" class="rd-google-map rd-google-map__model">
            <ul class="map_locations">
                <li data-y="42.2615050" data-x="-71.4664077">
                    <p><span class="icon"><img src="/images/gmap-24x34.png" alt="" width="24" height="34"/></span>87 Main Street Ashland, MA 01721</p>
                </li>
            </ul>
        </div>
    </section>
</main>
<% include footer.ejs %>