<% include header.ejs %>
<!-- Page Content-->
<main class="page-content">
    <!-- Breadcrumbs & Page title-->
    <section class="text-center section-34 section-sm-60 section-md-top-100 section-md-bottom-105 bg-image bg-image-breadcrumbs">
        <div class="shell shell-fluid" style="visibility: hidden">
            <div class="range range-condensed">
                <div class="cell-xs-12 cell-xl-preffix-1 cell-xl-11">
                    <p class="h3 text-white">Toasts</p>
                    <ul class="breadcrumbs-custom offset-top-10">
                        <li><a href="/">Home</a></li>
                        <li><a href="/menu">Menu</a></li>
                        <li class="active">Toasts</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section-50 section-sm-100">
        <div class="shell">
            <div class="range range-xs-center">
                <div class="cell-xs-12">
                    <div class="inset-lg-left-15 inset-lg-right-15"></div>
                    <div style="background-image: url('<%= category.bgImage %>'); background-size: 100%" class="menu-classic menu-classic-single">
                        <h4 class="title"><a href="/menu" class="link-white"></a></h4>
                        <ul class="list-menu">
                            <!--<li>
                                <div class="menu-item h6"><span><span>Tuna Salad</span></span><span class="price">25.00</span></div>
                                <div class="menu-item-desc"><span>Lettuce / Tomatoes / Tuna / Grain toast</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Chicken Pesto</span></span><span class="price">15.90</span></div>
                                <div class="menu-item-desc"><span>All-natural chicken / Tomatoes / Arugula / Baguette</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Turkey Avocado</span></span><span class="price">7.90</span></div>
                                <div class="menu-item-desc"><span>Smoked turkey breast / Bacon / Lettuce / Toast</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Tomato Mozarella</span></span><span class="price">23.90</span></div>
                                <div class="menu-item-desc"><span>Roasted red peppers / Arugula / Basil / Baguette</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Roast Beef &amp; Cheddar</span></span><span class="price">23.90</span></div>
                                <div class="menu-item-desc"><span>Cheddar cheese / Lettuce / Roast beef / Sesame bread</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Manhattan</span></span><span class="price">15.90</span></div>
                                <div class="menu-item-desc"><span>Thinly sliced pastrami / Melted swiss cheese / Lettuce</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Summer Love</span></span><span class="price">7.90</span></div>
                                <div class="menu-item-desc"><span>Roasted turkey / Red pepper / Fresh avocado</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Chicken Ranch</span></span><span class="price">23.90</span></div>
                                <div class="menu-item-desc"><span>Chicken breast / Melted cheese / Ranch dressing</span></div>
                            </li>-->
                            <% Array.isArray(products) && products.forEach(product => { %>
                            <li>
                                <div class="menu-item h6"><span><a href="/item/<%= product.id %>"><%= product.name %></a></span><span class="price"><%= product.total %></span></div>
                                <div class="menu-item-desc"><span><%= product.description %></span></div>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <!-- RD Parallax-->
        <div data-on="false" data-md-on="true" class="rd-parallax rd-parallax-light">
            <div data-speed="0.2" data-type="media" data-url="/images/parallax-02.jpg" class="rd-parallax-layer"></div>
            <div data-speed="0.05" data-type="html" class="rd-parallax-layer">
                <div class="shell section-80 section-sm-130">
                    <div class="range range-xs-center range-lg-bottom" style="visibility: hidden">
                        <div class="cell-md-9">
                            <div class="group-sm">
                                <h3 class="text-baseline">Fast Delivery</h3>
                                <div class="group-sm offset-top-15 offset-lg-top-0">
                                    <hr class="hr divider-xs bg-primary-lighter text-top veil reveal-lg-inline-block">
                                    <p class="big offset-lg-top-0 text-top">Enjoy our free, fast, and reliable delivery service.</p>
                                </div>
                            </div>
                        </div>
                        <div class="cell-lg-3"><a href="#" class="btn btn-shape-circle btn-white-outline btn-min-width-md">Learn more</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<% include footer.ejs %>